/* header sec */
.firstword {
    width: 708px;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    font-weight: 1000;
    color: #272727;

}
.secondword {
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    font-weight: 500;
    
}
.boton {
padding: 10px 20px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 500;
line-height: 24px;
width: 177px;
height: 64px;
border: 0;


}
.header {
    background: rgba(229, 84, 115, 0.10);
    height: 900px;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 10px 372px 370px 240px
    
    

}
.firstflower {
    display: block;
    width: 635px;
    height: 800px;
    padding-top: 90px;
}
/* main sec */
.mon{
    margin: 0 auto;
    background-color: #FFF;
}
.about {
    text-align: center;
    font-family: 'Sacramento', cursive;
     
}
.feter {
    font-size: 40px;
    font-weight: 800;
    padding-top: 80px;
}
.div1{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
}
.secof{
    width: 310px;
height: 400px;
flex-shrink: 0;
padding-top: 138px;
}
.div2{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.secof2{
    width: 310px;
    height: 400px;
    flex-shrink: 0;
    padding-top: 138px;
}
.div3 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.secof3{  width: 310px;
    height: 400px;
    flex-shrink: 0;
    padding-top: 138px;}
    .spon{
        text-decoration: underline;
    }
.bigdiv {
    display: flex;
    justify-content: space-around;
    
}
.secondsec {
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    margin: 130px auto;
    width: 1720px;
}
    
    
    .service{    
        display: flex;
        justify-content:space-between;
        border-radius: 8px;
        flex-shrink: 0;
        align-items:center ;
        text-align: center;
        height: 320px;
        
    }

    
    .service1{ 
        display: block;
        padding-right: 400px;
    }
    .service2{
     display: block;
     padding-right: 400px;


    }
    .service3{
        display: block;
    }
    .banner2 {
        width: 1922px;
        height: 620px;
      flex-shrink: 0;
      border-radius: 8px;
      background: rgba(229, 84, 115, 0.05);
      display: flex;
      justify-content: space-between;
      align-items:center ;
      text-align: center;


    }
    .hot{
        color: #272727;
        font-family: 'Sacramento', cursive;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .secondword2{
        display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family:'Sacramento', cursive;;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: 30px;
    }
    .boton2{
        padding: 10px 20px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 500;
line-height: 24px;
width: 177px;
height: 64px;
border: 0;
    }
    .ban2{
padding-left: 350px;
    }
    .floww{
        margin-right: 500px;
        margin-bottom: 0px;
        display: block;
    }